# Estudos avançados de Python

- Técnicas avançadas de manipulação e limpeza de dados.

- Organização dos dados.

In [1]:
import pandas as pd

## 1.0 Função Lambda

Definimos uma função tradicional da seguinte forma:

In [2]:
def calculation(a, b):
    c = a + b
    return c

In [3]:
calculation(5, 15)

20

Para definirmos a mesma função usando a função do tipo lambda, fazemos:

In [4]:
calculation_lambda = lambda a, b: a + b

In [5]:
calculation_lambda(5, 15)

20

A função lambda é usada quando temos uma função simples que não é replicada para vários casos.

## 2.0 Função Map

A função map aplica uma função em todas as posições de uma determinada estrutura de dados.

- map (funcao, estrutura_de_dados)

#### Função map em uma lista

In [6]:
col = ['Anastacia', 'Julicana', 'Anitta', 'Vega', 'Chun Li', 'Clotilde']

#function
snakecase = lambda x: x.lower()

map(snakecase, col)

In [7]:
list( map(snakecase, col) )

['anastacia', 'julicana', 'anitta', 'vega', 'chun li', 'clotilde']

#### Função map em um dataframe

In [8]:
data = {'Name': ['Ashley', 'Shania', 'Tanish', 'Roxie'],
        'Age': ['19', '45', '27', '22'],
        'Height (cm)': [180, 160, 165, 157]}

data = pd.DataFrame( data )

In [9]:
data

     Name Age  Height (cm)
0  Ashley  19          180
1  Shania  45          160
2  Tanish  27          165
3   Roxie  22          157

In [10]:
conversion_meter = lambda x: x/100

list ( map(conversion_meter, data['Height (cm)']) )

[1.8, 1.6, 1.65, 1.57]

In [11]:
data['Height (m)'] = list ( map(conversion_meter, data['Height (cm)']) )

In [12]:
data

     Name Age  Height (cm)  Height (m)
0  Ashley  19          180        1.80
1  Shania  45          160        1.60
2  Tanish  27          165        1.65
3   Roxie  22          157        1.57

Também podemos aplicar a função tradicional dentro da função map. Não precisa ser apenas a função lambda. Mas a função lambda é mais prática para operações mais simples.

## 3.0 Função Apply

A função apply funciona como a função map. A diferença é que o apply é uma função da biblioteca pandas e só conseguimos aplicar sobre dataframes.

In [13]:
data['Height (mm)'] = data['Height (m)'].apply(lambda x: int( x*1000) )
data

     Name Age  Height (cm)  Height (m)  Height (mm)
0  Ashley  19          180        1.80         1800
1  Shania  45          160        1.60         1600
2  Tanish  27          165        1.65         1650
3   Roxie  22          157        1.57         1570

# Exemplos práticos com Apply e Lambda