# Imports

In [1]:
import pandas as pd
import numpy as np
import requests
import re
import math

from bs4 import BeautifulSoup
from datetime import datetime

# Data Collection (products)

In [2]:
# URL
url01 = "https://www2.hm.com/en_us/men/products/jeans.html?sort=stock&image-size=small&image=model&offset=0&page-size=72"

# Parameters
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

# Request to URL
page = requests.get(url01, headers=headers)

# Beautiful Soup object
soup = BeautifulSoup(page.text, 'html.parser')

# ========================= Product Data ====================== #

# List which contains all products
products = soup.find('ul', 'products-listing small')
  
# product_id_categort list
product_id_category = products.find_all('article', 'hm-product-item')

# product_name list
product_name = products.find_all('a', 'link')

# product_price list
product_price = products.find_all('span', 'price regular')

product_id = [p.get('data-articlecode') for p in product_id_category]
product_category = [p.get('data-category') for p in product_id_category]
product_name = [p.get_text() for p in product_name]
product_price = [p.get_text() for p in product_price]

data = pd.DataFrame([product_id, product_name, product_category, product_price]).T
data.columns = ['product_id', 'product_name', 'product_type', 'price']

data['scrape_datetime'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [3]:
data.shape

(72, 5)

In [4]:
data.head()

,product_id,product_name,product_type,price,scrape_datetime
0,1100162003,Essentials No 2: THE JEANS,men_jeans_regular,$ 39.99,2022-11-07 11:04:46
1,1100162002,Essentials No 2: THE JEANS,men_jeans_regular,$ 39.99,2022-11-07 11:04:46
2,1024256001,Slim Jeans,men_jeans_slim,$ 19.99,2022-11-07 11:04:46
3,0985159001,Skinny Jeans,men_jeans_skinny,$ 24.99,2022-11-07 11:04:46
4,0979945025,Loose Jeans,men_jeans_loose,$ 39.99,2022-11-07 11:04:46

# Data Collection (inside each product)

In [5]:
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}

#empty dataframe
df_final = pd.DataFrame()

# Auxiliar list in order to monitor new columns
aux = []

# All columns found on website
df_pattern = pd.DataFrame(columns= ['Art. No.', 'Composition', 'Fit', 'More sustainable materials', 'Size'])

for i in range(len(data)):

    #API request
    # conteúdo de headers é padrão
    url02 = "https://www2.hm.com/en_us/productpage." + data.loc[i, 'product_id'] + ".html"

    page = requests.get(url02, headers=headers)

    #Beautiful Soup object
    soup = BeautifulSoup(page.text, 'html.parser')

    # ============================= Color =========================

    #product list
    product_list = soup.find_all('a', class_='filter-option miniature active') + soup.find_all('a', class_='filter-option miniature')

    #color
    product_color = [p.get('data-color') for p in product_list] 

    #id
    product_id = [p.get('data-articlecode') for p in product_list]

    #dataframe
    df_color = pd.DataFrame([product_id, product_color]).T
    df_color.columns = ['product_id', 'color']

    for j in range(len(df_color)):
        
        # ============== API request ========================= 
        
        # conteúdo de headers é padrão
        url03 = "https://www2.hm.com/en_us/productpage." + df_color.loc[j, 'product_id'] + ".html"

        page = requests.get(url03, headers=headers)

        #Beautiful Soup object
        soup = BeautifulSoup(page.text, 'html.parser')
        
        # ============== Product name ==========================
        
        product_name = soup.find('section', class_ = 'product-name-price').find_all('h1')
        product_name = product_name[0].get_text()
        
        # ============== Product price =========================
        
        product_price = soup.find_all('div', class_ = 'primary-row product-item-price')
        product_price = re.findall(r'\d+\.?\d+', product_price[0].get_text())[0]
        

        # ============================ Composition =====================

        # Product list -- we used find and find_all because we could not return composition list only by using find_all in the beginning
        product_composition_list = soup.find('div', class_='content pdp-text pdp-content').find_all('div')

        # Composition
        product_composition = [list( filter( None, p.get_text().split('\n') ) ) for p in product_composition_list]

        # dataframe
        df_composition = pd.DataFrame(product_composition).T

        # Columns name
        df_composition.columns = df_composition.iloc[0]

        # Filling None/NA values
        df_composition = df_composition.iloc[1:].fillna(method='ffill')

        # Removing pocket lining, shell and lining
        df_composition['Composition'] = df_composition['Composition'].str.replace('Pocket lining: ', '', regex=True)
        df_composition['Composition'] = df_composition['Composition'].str.replace('Shell: ', '', regex=True)
        df_composition['Composition'] = df_composition['Composition'].str.replace('Lining: ', '', regex=True)

        # The same number of columns (pattern)
        df_composition = pd.concat( [df_pattern, df_composition] )
        
        # Rename columns
        if j == 0:
            df_composition.columns = ['product_id', 'composition', 'fit', 'product_safety', 'size']
            df_color['product_id'] = df_color['product_id'].astype(str)
            df_composition['product_id'] = df_composition['product_id'].astype(str)
            
        else:
            break

        # Keep new columns if it shows up
        aux = aux + df_composition.columns.tolist()

        # Generate Style ID + Color ID
        # All values, but the last three values
        #df_composition['style_id'] = df_composition['Art. No.'].apply(lambda x: x[:-3])
        #df_composition['color_id'] = df_composition['Art. No.'].apply(lambda x: x[-3:])

        # ======================= Merging color + composition ==========================
        #df_composition.columns = ['product_id', 'composition', 'fit', 'product_safety', 'size']
        #df_color['product_id'] = df_color['product_id'].astype(str)
        #df_composition['product_id'] = df_composition['product_id'].astype(str)
        data_merge = pd.merge(df_composition[['product_id', 'composition', 'fit', 'product_safety', 'size']], df_color, 
                              how='left', on='product_id')
        data_merge.loc[j, 'product_name'] = product_name
        data_merge.loc[j, 'product_price'] = product_price
        
        # ======================= Concatenate ==========================================
        df_final = pd.concat( [df_final, data_merge], axis=0 )
        
        
# ======================= Merging color + composition ==========================
#df_composition.columns = ['product_id', 'composition', 'fit', 'product_safety', 'size']
#df_color['product_id'] = df_color['product_id'].astype(str)
#df_composition['product_id'] = df_composition['product_id'].astype(str)
#data_merge = pd.merge(df_composition[['product_id', 'composition', 'fit', 'size']], df_color, how='left', on='product_id')

# ======================= Concatenate ==========================================
#df_final = pd.concat( [df_final, data_merge], axis=0 )
        
# Creating style_id + color_id
df_final['style_id'] = df_final['product_id'].apply(lambda x: x[:-3])
df_final['color_id'] = df_final['product_id'].apply(lambda x: x[-3:])

df_final['scrape_datetime'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

data_raw = df_final.copy().reset_index().drop(columns='index')

data_raw.to_csv("data_raw.csv")

In [6]:
data_raw.head()

,product_id,composition,fit,product_safety,size,color,product_name,product_price,style_id,color_id,scrape_datetime
0,1100162003,"Cotton 99%, Spandex 1%",Regular fit,NaN,"The model is 187cm/6'2"" and wears a size 31/32",Denim gray,Essentials No 2: THE JEANS,39.99,1100162,003,2022-11-07 11:20:15
1,1100162003,"Polyester 65%, Cotton 35%",Regular fit,NaN,"The model is 187cm/6'2"" and wears a size 31/32",Denim gray,NaN,NaN,1100162,003,2022-11-07 11:20:15
2,1100162002,"Cotton 99%, Spandex 1%",Regular fit,NaN,"The model is 189cm/6'2"" and wears a size 31/32",Denim blue,Essentials No 2: THE JEANS,39.99,1100162,002,2022-11-07 11:20:15
3,1100162002,"Polyester 65%, Cotton 35%",Regular fit,NaN,"The model is 189cm/6'2"" and wears a size 31/32",Denim blue,NaN,NaN,1100162,002,2022-11-07 11:20:15
4,1024256001,"Cotton 99%, Spandex 1%",Slim fit,NaN,"The model is 185cm/6'1"" and wears a size 31/32",Black,Slim Jeans,19.99,1024256,001,2022-11-07 11:20:15

# Data Cleaning

In [7]:
data = data_raw.dropna(subset=['product_id'])

data = data.reset_index(drop=True)

#data['product_price'] = data['product_price'].apply(lambda x: x.replace('$ ', '')).astype(str)
data['product_price'] = data['product_price'].astype(float)

data['scrape_datetime'] = pd.to_datetime(data['scrape_datetime'], format='%Y-%m-%d %H:%M:%S')

data['color'] = data['color'].apply(lambda x: x.replace(' ', '_').replace('/', '_').replace('-', '_').lower() )

data['fit'] = data['fit'].apply(lambda x: x.replace(' ', '_').lower() ) 

data['product_name'] = data['product_name'].astype(str)
data['product_name'] = data['product_name'].apply(lambda x: x.replace(' ', '_').replace(':', '').replace('®', '').replace('-', '_').lower() )

data = data[~data['composition'].str.contains('Pocket lining:')]
data = data[~data['composition'].str.contains('Lining:')]
data = data[~data['composition'].str.contains('Shell:')]
data = data[~data['composition'].str.contains('Pocket:')]

df1 = data['composition'].str.split(',', expand=True).reset_index(drop=True)

df_ref = pd.DataFrame(index=np.arange(len(data)), columns=['Cotton', 'Polyester', 'Spandex', 'Lyocell', 
                                                          'Rayon', 'Elastomultiester'])

# ================================ Cotton =============================
df_cotton_0 = df1.loc[df1[0].str.contains('Cotton', na=True), 0]
df_cotton_0.name = 'cotton'
df_cotton_1 = df1.loc[df1[1].str.contains('Cotton', na=True), 1]
df_cotton_1.name = 'cotton'

df_cotton = df_cotton_0.combine_first(df_cotton_1)

df_ref = pd.concat([df_ref, df_cotton], axis=1)
df_ref = df_ref.iloc[:, ~df_ref.columns.duplicated()]
df_ref = df_ref.drop(columns=['Cotton'], axis=1) 
df_ref['cotton'] = df_ref['cotton'].fillna('Cotton 0%')

# ============================== Polyester =============================
df_polyester_0 = df1.loc[df1[0].str.contains('Polyester', na=True), 0]
df_polyester_0.name = 'polyester'
df_polyester_1 = df1.loc[df1[1].str.contains('Polyester', na=True), 1]
df_polyester_1.name = 'polyester'

df_polyester = df_polyester_0.combine_first(df_polyester_1)

df_ref = pd.concat([df_ref, df_polyester], axis=1)
df_ref = df_ref.drop(columns=['Polyester'], axis=1)
df_ref = df_ref.iloc[:, ~df_ref.columns.duplicated()] 
df_ref['polyester'] = df_ref['polyester'].fillna('Polyester 0%')

# =============================== Spandex ===============================
df_spandex_1 = df1.loc[df1[1].str.contains('Spandex', na=True), 1]
df_spandex_1.name = 'spandex'
df_spandex_2 = df1.loc[df1[2].str.contains('Spandex', na=True), 2]
df_spandex_2.name = 'spandex'

df_spandex = df_spandex_1.combine_first(df_spandex_2)

df_ref = pd.concat([df_ref, df_spandex], axis=1)
df_ref = df_ref.drop(columns=['Spandex'], axis=1)
df_ref = df_ref.iloc[:, ~df_ref.columns.duplicated()]
df_ref['spandex'] = df_ref['spandex'].fillna('Spandex 0%')

# ============================== Lyocell ================================
df_lyocell_0 = df1.loc[df1[0].str.contains('Lyocell', na=True), 0]
df_lyocell_0.name = 'lyocell'
df_lyocell_1 = df1.loc[df1[1].str.contains('Lyocell', na=True), 1]
df_lyocell_1.name = 'lyocell' 

df_lyocell = df_lyocell_0.combine_first(df_lyocell_1)

df_ref = pd.concat([df_ref, df_lyocell], axis=1)
df_ref = df_ref.drop(columns=['Lyocell'], axis=1)
df_ref = df_ref.iloc[:, ~df_ref.columns.duplicated()]
df_ref['lyocell'] = df_ref['lyocell'].fillna('Lyocell 0%')

# ============================== Rayon ================================
df_rayon_0 = df1.loc[df1[0].str.contains('Rayon', na=True), 0]
df_rayon_0.name = 'rayon'
df_rayon_2 = df1.loc[df1[2].str.contains('Rayon', na=True), 2]
df_rayon_2.name = 'rayon' 

df_rayon = df_rayon_0.combine_first(df_rayon_2)

df_ref = pd.concat([df_ref, df_rayon], axis=1)
df_ref = df_ref.drop(columns=['Rayon'], axis=1)
df_ref = df_ref.iloc[:, ~df_ref.columns.duplicated()]
df_ref['rayon'] = df_ref['rayon'].fillna('Rayon 0%')

# ============================== Elastomultiester ================================
df_elastomultiester = df1.loc[df1[1].str.contains('Elastomultiester', na=True), 1]
df_elastomultiester.name = 'elastomultiester'

df_ref = pd.concat([df_ref, df_elastomultiester], axis=1)
df_ref = df_ref.drop(columns=['Elastomultiester'], axis=1)
df_ref = df_ref.iloc[:, ~df_ref.columns.duplicated()]
df_ref['elastomultiester'] = df_ref['elastomultiester'].fillna('Elastomultiester 0%')

# ========================= Including new columns on data dataframe =======================
data = pd.concat([data.reset_index(), df_ref.reset_index()], axis=1)
data = data.drop(columns=['index'], axis=1)
data = data.iloc[:, ~data.columns.duplicated()]

data = data.drop_duplicates()

# ============== join of combine with product_id ==============

df_aux = pd.concat( [data['product_id'].reset_index(drop=True), df_ref], axis=1 )


# =============== Excluding strings in order to keep only numbers for composition columns ==============

df_aux['cotton'] = df_aux['cotton'].apply(lambda x: int( re.search('\d+', x).group(0))/100 if pd.notnull(x) else x)
df_aux['polyester'] = df_aux['polyester'].apply(lambda x: int( re.search('\d+', x).group(0))/100 if pd.notnull(x) else x)
df_aux['spandex'] = df_aux['spandex'].apply(lambda x: int( re.search('\d+', x).group(0))/100 if pd.notnull(x) else x)
df_aux['lyocell'] = df_aux['lyocell'].apply(lambda x: int( re.search('\d+', x).group(0))/100 if pd.notnull(x) else x)
df_aux['rayon'] = df_aux['rayon'].apply(lambda x: int( re.search('\d+', x).group(0))/100 if pd.notnull(x) else x)
df_aux['elastomultiester'] = df_aux['elastomultiester'].apply(lambda x: int( re.search('\d+', x).group(0))/100 if pd.notnull(x) else x)

df_aux = df_aux.groupby('product_id').max().reset_index().fillna(0)
data = data.drop(columns=['cotton', 'polyester', 'spandex', 'lyocell', 'rayon', 'elastomultiester'])
data = pd.merge( data, df_aux, on='product_id', how='left' )

# ====== inserting model_size and jeans_size instead of size =========

data['model_size'] = data['size'].apply(lambda x: re.search('\d{3}', x).group(0) if pd.notnull(x) else x).astype(float)
data['jeans_size'] = data['size'].str.extract('(\d+/\\d+)')
       
data = data.drop(columns=['size', 'product_safety', 'composition'], axis=1).reset_index(drop=True)
#data = data.drop_duplicates(subset=['product_id', 'fit', 'color', 'style_id', 'color_id', 
#                                    'model_size', 'jeans_size'], keep='first')

data.to_csv("data_clean.csv")

In [8]:
data.head()

,product_id,fit,color,product_name,product_price,style_id,color_id,scrape_datetime,cotton,polyester,spandex,lyocell,rayon,elastomultiester,model_size,jeans_size
0,1100162003,regular_fit,denim_gray,essentials_no_2_the_jeans,39.99,1100162,003,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,187.0,31/32
1,1100162003,regular_fit,denim_gray,nan,NaN,1100162,003,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,187.0,31/32
2,1100162002,regular_fit,denim_blue,essentials_no_2_the_jeans,39.99,1100162,002,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,189.0,31/32
3,1100162002,regular_fit,denim_blue,nan,NaN,1100162,002,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,189.0,31/32
4,1024256001,slim_fit,black,slim_jeans,19.99,1024256,001,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,185.0,31/32

In [10]:
data.shape

(128, 16)

# Data insertion

In [13]:
import sqlite3
from sqlalchemy import create_engine

In [14]:
data_insert = data[[
    'product_id',
    'style_id',
    'color_id',
    'product_name',
    'color',
    'fit',
    'product_price',
    'jeans_size',
    'model_size',
    'cotton',
    'polyester',
    'spandex',
    'lyocell',
    'rayon', 
    'elastomultiester',
    'scrape_datetime'
]]

In [15]:
data_insert.head()

,product_id,style_id,color_id,product_name,color,fit,product_price,jeans_size,model_size,cotton,polyester,spandex,lyocell,rayon,elastomultiester,scrape_datetime
0,1100162003,1100162,003,essentials_no_2_the_jeans,denim_gray,regular_fit,39.99,31/32,187.0,0.99,0.65,0.01,0.0,0.0,0.0,2022-11-07 11:20:15
1,1100162003,1100162,003,nan,denim_gray,regular_fit,NaN,31/32,187.0,0.99,0.65,0.01,0.0,0.0,0.0,2022-11-07 11:20:15
2,1100162002,1100162,002,essentials_no_2_the_jeans,denim_blue,regular_fit,39.99,31/32,189.0,0.99,0.65,0.01,0.0,0.0,0.0,2022-11-07 11:20:15
3,1100162002,1100162,002,nan,denim_blue,regular_fit,NaN,31/32,189.0,0.99,0.65,0.01,0.0,0.0,0.0,2022-11-07 11:20:15
4,1024256001,1024256,001,slim_jeans,black,slim_fit,19.99,31/32,185.0,0.99,0.65,0.01,0.0,0.0,0.0,2022-11-07 11:20:15

In [17]:
data_insert.dtypes

product_id                  object
style_id                    object
color_id                    object
product_name                object
color                       object
fit                         object
product_price              float64
jeans_size                  object
model_size                 float64
cotton                     float64
polyester                  float64
spandex                    float64
lyocell                    float64
rayon                      float64
elastomultiester           float64
scrape_datetime     datetime64[ns]
dtype: object

In [18]:
# create table
query_showroom_schema = """

    CREATE TABLE vitrine (
    
        product_id TEXT,
        style_id TEXT,
        color_id TEXT,
        product_name TEXT,
        color TEXT,
        fit TEXT,
        product_price REAL,
        jeans_size TEXT,
        model_size REAL,
        cotton REAL,
        polyester REAL,
        spandex REAL,
        lyocell REAL,
        rayon REAL, 
        elastomultiester REAL,
        scrape_datetime TEXT
    
    )

"""
conn = sqlite3.connect('database_hm.sqlite')
cursor = conn.execute( query_showroom_schema )
conn.commit()

In [19]:
# create database connection
create_engine( 'sqlite:///database_hm.sqlite', echo=False )

# data insertion
data_insert.to_sql( 'vitrine', con=conn, if_exists='append', index=False)

128

In [20]:
query = """

    SELECT * FROM vitrine

"""

df = pd.read_sql_query(query, conn)
df.head()

,product_id,style_id,color_id,product_name,color,fit,product_price,jeans_size,model_size,cotton,polyester,spandex,lyocell,rayon,elastomultiester,scrape_datetime
0,1100162003,1100162,003,essentials_no_2_the_jeans,denim_gray,regular_fit,39.99,31/32,187.0,0.99,0.65,0.01,0.0,0.0,0.0,2022-11-07 11:20:15
1,1100162003,1100162,003,nan,denim_gray,regular_fit,NaN,31/32,187.0,0.99,0.65,0.01,0.0,0.0,0.0,2022-11-07 11:20:15
2,1100162002,1100162,002,essentials_no_2_the_jeans,denim_blue,regular_fit,39.99,31/32,189.0,0.99,0.65,0.01,0.0,0.0,0.0,2022-11-07 11:20:15
3,1100162002,1100162,002,nan,denim_blue,regular_fit,NaN,31/32,189.0,0.99,0.65,0.01,0.0,0.0,0.0,2022-11-07 11:20:15
4,1024256001,1024256,001,slim_jeans,black,slim_fit,19.99,31/32,185.0,0.99,0.65,0.01,0.0,0.0,0.0,2022-11-07 11:20:15