# Libraries

In [7]:
import sqlite3
import pandas as pd

from sqlalchemy import create_engine

# Introdução à linguagem SQL

Os dados foram coletados no Kaggle via link [Olist](https://www.kaggle.com/olistbr/brazilian-ecommerce).

## Inserindo os dados nas tabelas

### tabela x

### 1. Connect to dataset

In [3]:
db = create_engine('sqlite:///db_olist.sqlite', echo=False)
conn = db.connect()

As três barras significam que estamos acessando arquivo local. Podemos conferir o arquivo criado no repositório local.

### 2. Loading dataset

In [8]:
df_costumer = pd.read_csv("https://raw.githubusercontent.com/lucasquemelli/ds_ao_dev/main/olist/olist_customers_dataset.csv")

In [9]:
df_costumer.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

### 3. Check database